*/settings/local.py
.coverage
coverage.xml
pytest-report.xml
server.log
*.py[co]
*.sw[po]
*.egg*
.coverage
pip-log.txt
docs/_gh-pages
build.py
build
.DS_Store
.noseids
tmp/*
*.swp
*~
*.mo
*.log
*.log.*
*.db
db/
test_db/
.vagrant
*.sublime-project
*.sublime-workspace
media/*
celerybeat.pid
target/*
dist/*
.idea/
.scannerwork/
venv
.venv
.venv_new/
*.pyc
./*.pyc
./*/*.pyc
./*/*/*.pyc
./*/*/*/*.pyc
./*/*/*/*/*.pyc
site/
logs/*.log.*
output/
templates/
sha.txt
libs/async_executor/meta/
libs/async_executor/input/
libs/async_executor/in_progress/
.env
poetry.lock
.vscode/
coverage.xml
pytest-report.xml
results.xml
.scannerwork/mcp_servers.yml
.claude/settings.json
.env.local.wibey-test
.wibey-test
.claude
.cursor